go 1.25

use (
	./apps/core
	./libs/core/common
	./libs/core/database
	./libs/core/environment
	./libs/core/feature/application
	./libs/core/feature/resource/restapi
	./libs/core/feature/resource/route
	./libs/core/framework
	./libs/core/logging
	./libs/core/messaging
	./libs/core/validation
	./libs/core/web
)
