go 1.24.0

toolchain go1.24.4

use (
	./apps/core
	./libs/core/common
	./libs/core/database
	./libs/core/environment
	./libs/core/feature/application
	./libs/core/framework
	./libs/core/logging
	./libs/core/messaging
	./libs/core/validation
	./libs/core/web
)
